#hero {
    background: url("../img/pic1.jpeg") repeat scroll center center/cover !important;
    height: 100vh;
    width: 100%;
  }

.skillset{
    text-align: center;
    padding-bottom: 50px;   
}
.swiper-pagination {
    padding-top: 50px ;    
}
.img-thumbnail{
    height: 400px;
    width: 400px;
}
#image{
    height: 250px;
}
.call-to-action {
    background: linear-gradient(rgba(11, 53, 66, 0.863), rgba(61, 71, 71, 0.753)), url("../img/sec1.jpeg") fixed center center;
    background-size: cover;
    padding: 200px 0;
}
#title{
    padding-top: 10px !important;
    
}
#con{
    height: 500px;
    width: 500;
    padding-top: 70px;

}
#ws, #pcontainer{
    padding-top: 100px;
    padding-bottom: 100px;
}
#loc{
    height: 200px;
    width: 400x;
}

